@import '../mixins/breakpoints';
@import '../mixins/mixins';


html {
    scroll-behavior: smooth;
}

:target:before {
    content: "";
    display: block;
    height: 120px;
    margin: -120px 0 0;

    @include sm {
        height: 80px;
        margin: -80px 0 0;
    }
}



.section {
    padding: 80px 0px 40px;

    @include sm {
        padding: 40px 0px 20px;
    }

    &-title {
        position: relative;

        margin-bottom: 72px !important;

        >span {
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            color: var(--secondary)
        }

        &::after {
            content: '';

            position: absolute;
            bottom: -24px;
            left: 0;

            width: 100px;
            height: 4px;
            background: var(--secondary);
        }

        &-center {
            text-align: center;

            &::after {
                left: 50%;

                transform: translateX(-50%);
            }
        }
    }

    &-hero,
    &-small-hero {
        padding: 0;
    }

    &-hero {
        .hero {
            &-image {
                height: 640px;
                overflow: hidden;

                @include sm {
                    height: 480px;
                }

                &-item {
                    position: relative;
                    width: 100%;
                    height: 100%;

                    &-background {
                        @include centerAbsolute;

                        min-width: 100%;
                        min-height: 100%;


                        z-index: -1;
                    }


                    &-content {
                        height: 100%;
                        width: 100%;

                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;


                        >h1 {
                            margin-bottom: 8px !important;
                        }

                        >h3 {
                            margin-bottom: 24px !important;
                        }

                        >div {
                            display: flex;
                            gap: 32px;

                            @include sm {
                                gap: 16px;
                            }
                        }
                    }
                }
            }

            &-image-item {
                position: relative;
            }
        }
    }

    &-aboutus {
        .container {
            position: relative;

            img {
                position: absolute;
                right: 0;
                top: 0;

                width: 470px;

                opacity: 0.1;
                z-index: -1;
            }
        }

        .row {
            >:first-child {
                @include md {
                    margin-bottom: 32px;
                }

                >p {
                    font-style: italic;
                    font-weight: 300;
                    font-size: 24px;
                    line-height: 28px;
                }

                >.socials {
                    margin-top: 32px;
                    display: flex;
                    gap: 16px;
                }
            }

            >:last-child {
                >p {
                    text-align: justify;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 28px;
                }

                >:not(:last-child) {
                    margin-bottom: 24px !important;
                }
            }
        }
    }

    &-products {
        >div {
            display: flex;
            flex-wrap: wrap;

            >* {
                flex: 1;
                min-width: 298px;
            }
        }


        .product {
            position: relative;
            width: 100%;
            height: 298px;

            @include overlay;
            overflow: hidden;
            cursor: pointer;

            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            padding: 24px 16px;

            &::after {
                transition: background-color var(--transition-time), opacity var(--transition-time);
            }

            &:hover {
                &::after {
                    background: var(--secondary);
                    opacity: 0.66;
                }
            }

            >img {
                position: absolute;
                @include centerAbsolute;

                z-index: -1;

                min-width: 100%;
                min-height: 100%;
            }

            >h4 {
                position: relative;
                margin-bottom: 16px !important;

                &::after {
                    content: '';
                    position: absolute;
                    width: 100px;
                    border: 2px solid var(--secondary);

                    bottom: -8px;
                    left: 0;
                }
            }


            .content {
                p {
                    width: 75%;
                    font-size: 16px;
                    line-height: 24px;
                }

                .button {
                    margin-top: 24px;
                }
            }
        }
    }

    &-gallery {

        .col {
            display: flex;
            justify-content: center;
        }

        .gallery {
            &-item {
                background: var(--background-tertiary);
                border-radius: 8px;
                overflow: hidden;

                max-width: 400px;
                min-width: 284px;
                margin-bottom: 16px;

                @include md {
                    max-width: 324px;
                }

                &-image {
                    position: relative;
                    width: 100%;
                    height: 224px;
                    overflow: hidden;

                    z-index: 1;

                    @include overlay;

                    >img {
                        @include centerAbsolute;
                        min-width: 100%;
                        min-height: 100%;

                        z-index: -1;
                    }
                }

                &-content {
                    display: flex;
                    flex-direction: column;

                    padding: 24px 32px;


                    &-info {
                        flex: 1;
                        margin-bottom: 16px;

                        >h6 {
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 23px;

                            color: var(--white);

                            margin-bottom: 8px !important;
                        }

                        >p {
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 19px;
                            color: var(--text-primary);
                        }
                    }

                    >a {
                        position: relative;
                        color: var(--secondary);
                        z-index: 1;

                        span {
                            font-size: inherit;
                            font-weight: inherit;
                            color: inherit;

                            background: var(--background-tertiary);
                            z-index: 1;
                            padding-right: 8px;
                        }


                        &::after {
                            content: '';
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            z-index: -1;

                            width: 100%;
                            border-top: 1px solid var(--background-secondary);
                        }
                    }
                }
            }
        }
    }

    &-map {
        padding-bottom: 0;

        #map {
            height: 320px;
        }

        iframe {
            width: 100%;
            height: 100%;
        }
    }

    &-small-hero {
        height: 102px;
        position: relative;

        display: flex;
        align-items: center;

        overflow: hidden;
        @include overlay;

        >img {
            @include centerAbsolute;
            z-index: -1;

            min-width: 100%;
            min-height: 100%;
        }

        h3 {
            font-weight: 900;
            font-size: 32px;
            line-height: 37px;
            color: var(--white);

            @include sm {
                font-size: 24px;
            }
        }
    }

    &-product-page {
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

        }

        .background-logo {
            position: absolute;
            right: 0;

            z-index: -1;
            opacity: .1;
        }

        .info {
            width: 85%;

            @include sm {
                width: 100%;
            }

            >* {
                &:not(:last-child) {
                    margin-bottom: 16px !important;
                }
            }

            h4 {
                font-weight: 900;
            }
        }



        .carousel {
            margin-top: 80px;
            width: 100%;

            @include sm {
                margin-top: 40px;
            }


            .slick-slide {
                display: flex;
                align-items: center;
                justify-content: center;

                margin: 0 20px;

                @include sm {
                    margin: 0 10px;
                }
            }
        }


        .single-product {
            width: 256px;
            height: 256px;

            display: flex;
            flex-direction: column;
            align-items: center;
            background: var(--background-tertiary);
            border-radius: 8px;
            padding: 16px;
            padding-bottom: 24px;

            @include sm {
                width: 200px;
                height: 200px;
            }

            h5 {
                margin: auto 0 0 0 !important;
            }

            img {
                width: 100%;
                max-width: 100%;
            }
        }
    }

    &-contacts {
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            >.row {
                width: 100%;
            }
        }

        .background-logo {
            position: absolute;
            right: 0;

            z-index: -1;
            opacity: .1;
        }


        #small-map {
            height: 320px;
            border-radius: 8px;
            overflow: hidden;

            >iframe {
                height: 100%;
                width: 100%;
            }
        }

        .contacts-info {
            padding-left: 48px;

            @include md {
                padding-left: 24px;
            }

            @include sm {
                margin-top: 40px;
            }

            >*:not(h4) {
                margin-bottom: 16px !important;
            }
        }

    }

    &-gallery-page {
        .gallery {
            &-grid {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 16px;

                @include md {
                    grid-template-columns: 1fr 1fr;
                }

                @include sm {
                    grid-template-columns: 1fr;
                }
            }

            &-photo {
                position: relative;
                height: 248px;
                border-radius: 8px;
                overflow: hidden;
                cursor: pointer;

                @include overlay;

                padding: 16px;

                @include sm {
                    height: 196px;
                }

                &:hover {
                    &::after {
                        background: var(--secondary) !important;
                        opacity: 0.66;
                    }
                }

                &.active {
                    &::after {
                        background: var(--secondary) !important;
                        opacity: 0.66;
                    }
                }

                >img {
                    z-index: -1;

                    @include centerAbsolute;

                    min-height: 100%;
                    min-width: 100%;
                }

                &-info {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;

                    h4 {
                        font-size: 24px;
                        line-height: 28px;
                    }

                    p {
                        margin-top: 8px !important;
                        font-size: 16px;
                        line-height: 19px;
                    }
                }
            }
        }
    }
}