@import '../mixins/breakpoints';
@import '../mixins/mixins';

.hero-carousel {

    width: 100%;


    &-item {
        position: relative;
        width: 100%;
        height: 100%;

        @include overlay;

        overflow: hidden;

        height: 640px;

        // &.slick-active {
        //     >.hero-carousel-item-background {
        //         min-width: 200%;
        //         min-height: 200%;
        //         opacity: 1;

        //         transition: min-width 10s, min-height 10s, opacity 1s;
        //     }
        // }


        @include sm {
            height: 480px;
        }

        &-background {
            // transition: min-width 1s, min-height 1s, opacity 1s;
            // opacity: 0;
            @include centerAbsolute;

            z-index: -1;

            min-width: 100%;
            min-height: 100%;

        }

        &-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            height: 100%;
            width: 100%;

            >* {
                max-width: 520px;

                @include sm {
                    max-width: 315px;
                }
            }


            >h1 {
                margin-bottom: 16px !important;
            }

            >h3 {
                margin-bottom: 32px !important;
            }
        }
    }

    /*
    .slick-dots {
        position: absolute;
        bottom: 32px;

        width: 100%;
        display: flex;
        justify-content: center;

        >:not(:last-child) {
            margin-right: 8px;
        }

        button {
            display: block;
            width: 16px;
            height: 16px;
            padding: 0;

            border: none;
            border-radius: 100%;
            background-color: var(--text-primary);

            text-indent: -9999px;
        }

        li.slick-active button {
            background-color: var(--secondary);
        }
    }
    */
}


.section-servicos {
    position: relative;

    >img {
        position: absolute;
        right: 80px;

        opacity: 0.05;

        @include sm {
            width: 196px;
            right: 16px;
        }
    }
}

.servico {
    background: var(--neutral);
    border-radius: var(--border-radius);

    padding: 16px;

    max-width: 256px;
    height: 352px;

    margin: 0px 16px;

    @include sm {
        padding: 8px;

        max-width: 148px;
        height: 204px;

        margin: auto;
    }

    &.active {
        .servico-wrapper {
            &:after {
                background: radial-gradient(206.2% 65.39% at 50% 50%, rgba(239, 241, 255, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), rgba(0, 186, 227, 0.5);
            }
        }
    }

    &-wrapper {
        position: relative;
        overflow: hidden;
        border-radius: var(--border-radius);

        @include overlay;

        &:after {
            transition: background-color var(--transition-time);
            background: radial-gradient(206.2% 65.39% at 50% 50%, rgba(239, 241, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), rgba(0, 0, 0, 0.25);
        }

        height: 100%;
        z-index: 1;

        padding: 32px;

        @include sm {
            padding: 16px;
        }
    }

    &-background {
        @include centerAbsolute;
        z-index: -1;

        min-width: 100%;
        min-height: 100%;
    }

    &-icon {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 56px;
        height: 56px;

        border-radius: 50%;
        border: 1px solid var(--white);

        @include sm {
            width: 32px;
            height: 32px;
        }

        >img {
            width: 24px;
            height: 24px;

            @include sm {
                width: 12px;
                height: 12px;
            }
        }

    }

    &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        height: 100%;

        >h5 {
            margin: 8px 0px !important;
        }

        &-text {
            width: 100%;

            >p {
                @include sm {
                    display: none;
                }
            }

            .button {
                margin-top: 16px;
                width: 100%;
                min-width: 100%;

                font-size: 12px;
                line-height: 14px;
            }
        }
    }


}

.team {
    >.container {
        display: flex;
        justify-content: space-evenly;
    }

    .member {
        padding: 16px;
        border-radius: var(--border-radius);

        background: var(--neutral);
        box-shadow: 0px 0px 12.5px rgba(0, 0, 0, 0.125);

        transition: transform var(--transition-time);

        &:hover {
            transform: scale(1.2);
        }

        @include sm {
            padding: 8px;
        }

        &:first-child {
            margin-right: 16px;
        }

        &-photo {
            position: relative;
            width: 256px;
            height: 256px;

            @include overlay;
            overflow: hidden;
            border-radius: var(--border-radius);

            z-index: 1;

            @include sm {
                width: 128px;
                height: 128px;
            }

            >img {
                @include centerAbsolute;

                min-width: 100%;
                height: 100%;

                z-index: -1;
            }
        }

        &-info {
            margin-top: 16px;

            @include sm {
                margin-top: 8px;
            }

            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.background-component {
    position: absolute;
    width: 100%;
    height: 100%;

    margin-top: -215px;

    background: rgba(0, 186, 227, 0.1);

    min-width: 375px;

    @include sm {
        margin-top: -122px;
    }

    z-index: -1;
}

