@import '../mixins/breakpoints';


.footer {    
    border-top: 1px solid var(--border-color);
    min-height: 480px;

    background: linear-gradient(270deg, #313234 0%, #141414 100%);

    >.container {
        padding-top: 40px;
        padding-bottom: 40px;
     
    }

    &-logo {
        margin: 0px 0px 32px;
        height: 60px;

        @include sm {
            height: 36px;
        }
    }

    &-links {

        @include sm {
            >* {
                &:not(:last-child) {
                    // margin-bottom: 16px;

                }
            }
        }

        h5 {
            margin-bottom: 8px !important;
        }
    }

    &-horario {
        >*:not(:last-child, :first-child) {
            margin-bottom: 16px;
        }
    }
}

.bottom-bar {
    background: var(--neutral);
    border-top: 1px solid var(--border-color);
    height: 80px;
    display: flex;
    align-items: center;
}