@import '../mixins/breakpoints';
@import '../mixins/mixins';

.section {
    padding: 80px 0px 40px;

    @include sm {
        padding: 40px 0px 20px;
    }

    &-title {
        position: relative;

        margin-bottom: 56px !important;

        >span {
            color: var(--offwhite)
        }

        &-center {
            text-align: center;

            &::after {
                left: 50%;

                transform: translateX(-50%);
            }
        }
    }
}

.section {

    &-hero,
    &-small-hero {
        padding: 0;
    }

    &-small-hero {
        position: relative;
        height: 136px;
        overflow: hidden;

        @include sm {
            height: 136px;
        }

        background: rgba(0, 186, 227, 0.5);

        h1 {
            font-weight: 700;
        }

        &-background {
            @include centerAbsolute;
            z-index: -1;

            min-width: 100%;
            min-height: 100%;

        }

        >.container {
            display: flex;
            align-items: center;

            height: 100%;

            h3 {
                margin-top: 16px !important;
                max-width: 436px;
            }
        }
    }

    &-textpage {
        padding: 32px 0px 120px;

        @include sm {
            padding: 32px 0px 60px;
        }

        &-content {


            >*{
                &:not(:last-child,h6){
                    margin-bottom: 16px !important;
                }
            }


        }

        .entre-contacto {
            position: sticky;
            top: calc(120px + 16px);

            padding: 16px;
            background: var(--neutral);
            border-radius: var(--border-radius);

        }
    }

    &-contactos {
        padding: 80px 0px 120px;

        @include sm {
            padding: 40px 0px 60px;
        }

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;

            &:not(:last-child) {
                margin-bottom: 40px;
            }

            >img {
                width: 64px;
                height: 64px;
            }

            &-title {
                margin: 12px 0px 8px !important;
                font-weight: 900;
                font-size: 32px;
                line-height: 40px;
                color: var(--primary);

                text-align: center;

                @include sm {
                    font-size: 24px;
                    line-height: 30px;

                    margin: 6px 0px 4px !important;
                }
            }
        }
    }

    &-map {
        padding: 0;

        #map {
            display: block;
            height: 300px;
            width: 100%;
        }

    }


    &-galeria {
        padding: 80px 0px 120px;

        @include sm {
            padding: 40px 0px 60px;
        }

        .galeria {
            &-grid {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;

                column-gap: 32px;
                row-gap: 32px;

                @include md {
                    grid-template-columns: 1fr 1fr;
                }

                @include sm {
                    grid-template-columns: 1fr;
                }
            }

            &-item {
                position: relative;
                overflow: hidden;

                height: 224px;

                display: flex;
                justify-content: center;
                align-items: center;

                cursor: pointer;

                &:hover {
                    &:after {
                        opacity: 0.33;
                    }

                    >p {
                        opacity: 1
                    }

                    >img {
                        min-width: 110%;
                        min-height: 110%;
                    }

                }

                @include overlay;

                &:after {
                    opacity: 0;
                    transition: opacity var(--transition-time);
                }


                >img {
                    position: absolute;

                    @include centerAbsolute;

                    z-index: -1;

                    min-width: 100%;
                    min-height: 100%;

                    transition: min-width var(--transition-time), min-height var(--transition-time);

                }

                >p {
                    font-weight: 900;
                    font-size: 32px;
                    line-height: 40px;

                    text-align: center;


                    color: var(--white);

                    opacity: 0;
                    transition: opacity var(--transition-time);
                }
            }
        }
    }

    &-faq {
        h2 {
            font-weight: 500;
            margin-bottom: 32px !important;
        }

        .col:first-child {
            @include md {
                margin-bottom: 32px;
            }
        }
    }
}