@import '../mixins/breakpoints';
@import '../mixins/mixins';

.hero-carousel {

    width: 100%;


    &-item {
        position: relative;
        width: 100%;
        height: 100%;

        @include overlay;

        overflow: hidden;

        height: 640px;

        &.slick-active {
            >.hero-carousel-item-background {
                min-width: 200%;
                min-height: 200%;
                opacity: 1;

                transition: min-width 10s, min-height 10s, opacity 1s;
            }
        }


        @include sm {
            height: 480px;
        }

        &-background {
            transition: min-width 1s, min-height 1s, opacity 1s;
            opacity: 0;
            @include centerAbsolute;

            z-index: -1;

            min-width: 100%;
            min-height: 100%;

        }

        &-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            height: 100%;
            max-width: 520px;

            >h1 {
                margin-bottom: 16px !important;
            }

            >h3 {
                margin-bottom: 32px !important;
            }
        }
    }

    .slick-dots {
        position: absolute;
        bottom: 32px;

        width: 100%;
        display: flex;
        justify-content: center;

        >:not(:last-child) {
            margin-right: 8px;
        }

        button {
            display: block;
            width: 16px;
            height: 16px;
            padding: 0;

            border: none;
            border-radius: 100%;
            background-color: var(--text-primary);

            text-indent: -9999px;
        }

        li.slick-active button {
            background-color: var(--secondary);
        }
    }
}



.icon-box {
    transition: transform var(--transition-time);

    &:hover {
        transform: scale(var(--scale-size));
    }
}



.review {
    &-photo {
        width: 56px;
        height: 56px;

        >img {
            width: 100%;
            height: 100%;
        }
    }

    &-item {
        padding: 32px;

        @include sm {
            padding: 12px;
        }

        &-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;

            margin: auto;
            padding: 16px;
            background: var(--white);
            box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
            border-radius: var(--border-radius);

            max-width: 545px;

            >p {
                margin-top: 16px !important;
            }
        }
        
    }
}