
@import '../mixins/breakpoints';

.section {
    padding: 80px 0px 40px;

    @include sm {
        padding: 40px 0px 20px;
    }

    &-title {
        position: relative;

        margin-bottom: 56px !important;

        &::after {
            content: '';

            position: absolute;
            bottom: -24px;
            left: 0;
            
            width: 152px;
            height: 2px;
            background: var(--secondary);
        }

        &-center {
            text-align: center;
            
            &::after {
                left: 50%;

                transform: translateX(-50%);
            }
        }
    }
}

.section {
    &-hero {
        padding: 0;
    }
}









