@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.animated {
  opacity: 0;
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1s;
}

/*KEYFRAMES*/
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.topbar {
  position: relative;
  z-index: 999;
  display: flex;
  align-items: center;
  height: 56px;
  background: var(--neutral);
  border-bottom: 1px solid var(--border-color);
}
@media (max-width: 768px) {
  .topbar {
    height: 40px;
  }
}
@media (max-width: 768px) {
  .topbar .icon {
    width: 16px;
    height: 16px;
  }
}
.topbar-contacts {
  display: flex;
}
@media (max-width: 576px) {
  .topbar-contacts {
    width: 100%;
    justify-content: space-between;
  }
}
.topbar-contacts > * {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.topbar-contacts > *:not(:last-child) {
  margin-right: 80px;
}
@media (max-width: 576px) {
  .topbar-contacts > *:not(:last-child) {
    margin-right: 0px;
  }
}
.topbar-contacts > * .icon {
  margin-right: 8px;
}
.topbar-socials {
  display: flex;
}
@media (max-width: 576px) {
  .topbar-socials {
    display: none;
  }
}
.topbar-socials > *:not(:last-child) {
  margin-right: 16px;
}

#header {
  border-bottom: 1px solid var(--border-color);
  z-index: 998;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  background: rgba(24, 24, 24, 0.8);
}
.navbar > .container {
  height: 120px;
}
@media (max-width: 768px) {
  .navbar > .container {
    height: 80px;
  }
}
.navbar-logo > img {
  height: 60px;
}
@media (max-width: 768px) {
  .navbar-logo > img {
    height: 34px;
  }
}
.navbar-navigation {
  display: flex;
  height: 100%;
}
.navbar-navigation .hoverable-link {
  position: relative;
}
.navbar-navigation .hoverable-container {
  top: calc(100% - 32px);
  left: 50%;
  transform: translateX(-50%);
  min-width: 160px;
  background: rgba(24, 24, 24, 0.97);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}
.navbar-navigation .hoverable-container > * {
  white-space: nowrap;
  padding: 8px 16px;
}
.navbar-navigation .hoverable-container > *:not(:last-child) {
  position: relative;
}
.navbar-navigation .hoverable-container > *:not(:last-child):after {
  content: "";
  position: absolute;
  width: 50%;
  left: 25%;
  top: 100%;
}
.navbar-navigation > * {
  display: flex;
  align-items: center;
  height: 100%;
}
.navbar-navigation > *:not(:last-child) {
  margin-right: 32px;
}
@media (max-width: 992px) {
  .navbar-navigation > *:not(:last-child) {
    margin-right: 16px;
  }
}
@media (max-width: 992px) {
  .navbar-navigation {
    display: none;
  }
}
.navbar-mobile {
  display: none;
}
@media (max-width: 992px) {
  .navbar-mobile {
    display: block;
  }
}
.navbar-mobile-navigation {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  min-width: 100%;
  min-height: 547px;
  background: rgba(24, 24, 24, 0.97);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding: 32px 0px;
}
.navbar-mobile-navigation .dropdown {
  padding: 0px;
}
.navbar-mobile-navigation > .container {
  width: 100%;
}
.navbar-mobile-navigation > .container > *:not(:last-child) {
  margin-bottom: 16px;
}

.hoverable-container {
  position: absolute;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background: rgba(24, 24, 24, 0.8);
  mix-blend-mode: multiply;
  opacity: 0.9;
}

.footer {
  border-top: 1px solid var(--border-color);
  min-height: 480px;
  background: linear-gradient(270deg, #313234 0%, #141414 100%);
}
.footer > .container {
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-logo {
  margin: 0px 0px 32px;
  height: 60px;
}
@media (max-width: 768px) {
  .footer-logo {
    height: 36px;
  }
}
.footer-links h5 {
  margin-bottom: 8px !important;
}
.footer-horario > *:not(:last-child, :first-child) {
  margin-bottom: 16px;
}

.bottom-bar {
  background: var(--neutral);
  border-top: 1px solid var(--border-color);
  height: 80px;
  display: flex;
  align-items: center;
}

.section {
  padding: 80px 0px 40px;
}
@media (max-width: 768px) {
  .section {
    padding: 40px 0px 20px;
  }
}
.section-title {
  position: relative;
  margin-bottom: 56px !important;
}
.section-title > span {
  color: var(--offwhite);
}
.section-title-center {
  text-align: center;
}
.section-title-center::after {
  left: 50%;
  transform: translateX(-50%);
}

.section-hero, .section-small-hero {
  padding: 0;
}
.section-small-hero {
  position: relative;
  height: 136px;
  overflow: hidden;
  background: rgba(0, 186, 227, 0.5);
}
@media (max-width: 768px) {
  .section-small-hero {
    height: 136px;
  }
}
.section-small-hero h1 {
  font-weight: 700;
}
.section-small-hero-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
}
.section-small-hero > .container {
  display: flex;
  align-items: center;
  height: 100%;
}
.section-small-hero > .container h3 {
  margin-top: 16px !important;
  max-width: 436px;
}
.section-textpage {
  padding: 32px 0px 120px;
}
@media (max-width: 768px) {
  .section-textpage {
    padding: 32px 0px 60px;
  }
}
.section-textpage-content > *:not(:last-child, h6) {
  margin-bottom: 16px !important;
}
.section-textpage .entre-contacto {
  position: sticky;
  top: calc(120px + 16px);
  padding: 16px;
  background: var(--neutral);
  border-radius: var(--border-radius);
}
.section-contactos {
  padding: 80px 0px 120px;
}
@media (max-width: 768px) {
  .section-contactos {
    padding: 40px 0px 60px;
  }
}
.section-contactos-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-contactos-item:not(:last-child) {
  margin-bottom: 40px;
}
.section-contactos-item > img {
  width: 64px;
  height: 64px;
}
.section-contactos-item-title {
  margin: 12px 0px 8px !important;
  font-weight: 900;
  font-size: 32px;
  line-height: 40px;
  color: var(--primary);
  text-align: center;
}
@media (max-width: 768px) {
  .section-contactos-item-title {
    font-size: 24px;
    line-height: 30px;
    margin: 6px 0px 4px !important;
  }
}
.section-map {
  padding: 0;
}
.section-map #map {
  display: block;
  height: 300px;
  width: 100%;
}
.section-galeria {
  padding: 80px 0px 120px;
}
@media (max-width: 768px) {
  .section-galeria {
    padding: 40px 0px 60px;
  }
}
.section-galeria .galeria-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 32px;
  row-gap: 32px;
}
@media (max-width: 992px) {
  .section-galeria .galeria-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .section-galeria .galeria-grid {
    grid-template-columns: 1fr;
  }
}
.section-galeria .galeria-item {
  position: relative;
  overflow: hidden;
  height: 224px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.section-galeria .galeria-item:hover:after {
  opacity: 0.33;
}
.section-galeria .galeria-item:hover > p {
  opacity: 1;
}
.section-galeria .galeria-item:hover > img {
  min-width: 110%;
  min-height: 110%;
}
.section-galeria .galeria-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(206.2% 65.39% at 50% 50%, #EFF1FF 0%, #000000 100%), rgba(0, 0, 0, 0.25);
  mix-blend-mode: multiply;
  z-index: -1;
}
.section-galeria .galeria-item:after {
  opacity: 0;
  transition: opacity var(--transition-time);
}
.section-galeria .galeria-item > img {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  transition: min-width var(--transition-time), min-height var(--transition-time);
}
.section-galeria .galeria-item > p {
  font-weight: 900;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: var(--white);
  opacity: 0;
  transition: opacity var(--transition-time);
}
.section-faq h2 {
  font-weight: 500;
  margin-bottom: 32px !important;
}
@media (max-width: 992px) {
  .section-faq .col:first-child {
    margin-bottom: 32px;
  }
}

.section-divider {
  padding: 0;
  background: rgba(0, 186, 227, 0.5);
}
.section-divider > .container {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-divider > .container > img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: -1;
  opacity: 0.05;
  max-width: 100%;
}
@media (max-width: 768px) {
  .section-divider > .container > img {
    height: auto;
  }
}
.section-divider > .container > p {
  max-width: 50%;
}
@media (max-width: 768px) {
  .section-divider > .container > p {
    max-width: 100%;
  }
}
.section-divider h5 {
  margin-bottom: 4px !important;
}
.section-divider p {
  margin-bottom: 16px !important;
}

.section-servicos {
  padding-bottom: 120px;
}
@media (max-width: 768px) {
  .section-servicos {
    padding-bottom: 60px;
  }
}

.section-about-us {
  padding: 40px 0px;
}
.section-about-us > .container {
  position: relative;
  display: flex;
  align-items: center;
}
.section-about-us .about-us-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.section-about-us .about-us-content .button {
  margin-top: 24px;
}
.section-about-us .about-us-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 992px) {
  .section-about-us .about-us-logo {
    position: absolute;
    right: 0px;
  }
}
.section-about-us .about-us-logo > img {
  height: 412px;
  opacity: 0.05;
}

.hero-carousel {
  width: 100%;
  /*
  .slick-dots {
      position: absolute;
      bottom: 32px;

      width: 100%;
      display: flex;
      justify-content: center;

      >:not(:last-child) {
          margin-right: 8px;
      }

      button {
          display: block;
          width: 16px;
          height: 16px;
          padding: 0;

          border: none;
          border-radius: 100%;
          background-color: var(--text-primary);

          text-indent: -9999px;
      }

      li.slick-active button {
          background-color: var(--secondary);
      }
  }
  */
}
.hero-carousel-item {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  height: 640px;
}
.hero-carousel-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(206.2% 65.39% at 50% 50%, #EFF1FF 0%, #000000 100%), rgba(0, 0, 0, 0.25);
  mix-blend-mode: multiply;
  z-index: -1;
}
@media (max-width: 768px) {
  .hero-carousel-item {
    height: 480px;
  }
}
.hero-carousel-item-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
}
.hero-carousel-item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.hero-carousel-item-content > * {
  max-width: 520px;
}
@media (max-width: 768px) {
  .hero-carousel-item-content > * {
    max-width: 315px;
  }
}
.hero-carousel-item-content > h1 {
  margin-bottom: 16px !important;
}
.hero-carousel-item-content > h3 {
  margin-bottom: 32px !important;
}

.section-servicos {
  position: relative;
}
.section-servicos > img {
  position: absolute;
  right: 80px;
  opacity: 0.05;
}
@media (max-width: 768px) {
  .section-servicos > img {
    width: 196px;
    right: 16px;
  }
}

.servico {
  background: var(--neutral);
  border-radius: var(--border-radius);
  padding: 16px;
  max-width: 256px;
  height: 352px;
  margin: 0px 16px;
}
@media (max-width: 768px) {
  .servico {
    padding: 8px;
    max-width: 148px;
    height: 204px;
    margin: auto;
  }
}
.servico.active .servico-wrapper:after {
  background: radial-gradient(206.2% 65.39% at 50% 50%, rgba(239, 241, 255, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), rgba(0, 186, 227, 0.5);
}
.servico-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
  height: 100%;
  z-index: 1;
  padding: 32px;
}
.servico-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(206.2% 65.39% at 50% 50%, #EFF1FF 0%, #000000 100%), rgba(0, 0, 0, 0.25);
  mix-blend-mode: multiply;
  z-index: -1;
}
.servico-wrapper:after {
  transition: background-color var(--transition-time);
  background: radial-gradient(206.2% 65.39% at 50% 50%, rgba(239, 241, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), rgba(0, 0, 0, 0.25);
}
@media (max-width: 768px) {
  .servico-wrapper {
    padding: 16px;
  }
}
.servico-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
}
.servico-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid var(--white);
}
@media (max-width: 768px) {
  .servico-icon {
    width: 32px;
    height: 32px;
  }
}
.servico-icon > img {
  width: 24px;
  height: 24px;
}
@media (max-width: 768px) {
  .servico-icon > img {
    width: 12px;
    height: 12px;
  }
}
.servico-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.servico-content > h5 {
  margin: 8px 0px !important;
}
.servico-content-text {
  width: 100%;
}
@media (max-width: 768px) {
  .servico-content-text > p {
    display: none;
  }
}
.servico-content-text .button {
  margin-top: 16px;
  width: 100%;
  min-width: 100%;
  font-size: 12px;
  line-height: 14px;
}

.team > .container {
  display: flex;
  justify-content: space-evenly;
}
.team .member {
  padding: 16px;
  border-radius: var(--border-radius);
  background: var(--neutral);
  box-shadow: 0px 0px 12.5px rgba(0, 0, 0, 0.125);
  transition: transform var(--transition-time);
}
.team .member:hover {
  transform: scale(1.2);
}
@media (max-width: 768px) {
  .team .member {
    padding: 8px;
  }
}
.team .member:first-child {
  margin-right: 16px;
}
.team .member-photo {
  position: relative;
  width: 256px;
  height: 256px;
  overflow: hidden;
  border-radius: var(--border-radius);
  z-index: 1;
}
.team .member-photo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(206.2% 65.39% at 50% 50%, #EFF1FF 0%, #000000 100%), rgba(0, 0, 0, 0.25);
  mix-blend-mode: multiply;
  z-index: -1;
}
@media (max-width: 768px) {
  .team .member-photo {
    width: 128px;
    height: 128px;
  }
}
.team .member-photo > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  height: 100%;
  z-index: -1;
}
.team .member-info {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .team .member-info {
    margin-top: 8px;
  }
}

.background-component {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: -215px;
  background: rgba(0, 186, 227, 0.1);
  min-width: 375px;
  z-index: -1;
}
@media (max-width: 768px) {
  .background-component {
    margin-top: -122px;
  }
}

:root {
  --primary: #181818;
  --secondary: #00BAE3;
  --neutral: #181818cc;
  --text-primary: #666666;
  --text-secondary: #9A9A9A;
  --background-tertiary: #E1E0E5;
  --background-secondary: #EDEDF0;
  --background-primary: #F9F9FA;
  --white: #FFFFFF;
  --offwhite: #FFFFFFCC;
  --danger: #D3194B;
  --success: #139E34;
  --caution: #E0AB1B;
  --info: #1694BB;
  --border-color: rgba(231, 231, 231, 0.1);
  --transition-time: .3s;
  --border-radius: 8px;
  --icon: 24px;
  --icon-sm: 16px;
  --icon-md: 32px;
  --icon-lg: 42px;
  --scale-size: 1.2;
}

body {
  background: linear-gradient(270deg, #6B6C74 0%, #09090A 100%);
  min-width: 375px;
  opacity: 0;
}
@media (max-width: 375px) {
  body {
    background-size: 375px;
  }
}
body * {
  font-family: "Roboto", sans-serif !important;
  color: var(--white);
  font-size: 16px;
  line-height: 24px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  body * {
    font-size: 12px;
  }
}

main > .section:last-child {
  padding-bottom: 120px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 1024px) {
  .container {
    padding: 0 30px;
  }
}

p > a,
span > a {
  display: inline;
}

.hidden {
  display: none !important;
}

/*  COLORS    */
.color-primary {
  color: var(--primary);
}
.color-secondary {
  color: var(--secondary);
}
.color-neutral {
  color: var(--neutral);
}
.color-danger {
  color: var(--danger);
}
.color-success {
  color: var(--success);
}
.color-caution {
  color: var(--caution);
}
.color-info {
  color: var(--info);
}
.color-text-primary {
  color: var(--text-primary);
}
.color-text-secondary {
  color: var(--text-secondary);
}
.color-background-primary {
  color: var(--background-primary);
}
.color-background-secondary {
  color: var(--background-secondary);
}
.color-background-tertiary {
  color: var(--background-tertiary);
}
.color-white {
  color: var(--white);
}
.color-offwhite {
  color: var(--offwhite);
}

.bg-primary {
  background-color: var(--primary) !important;
}
.bg-secondary {
  background-color: var(--secondary) !important;
}
.bg-neutral {
  background-color: var(--neutral) !important;
}
.bg-danger {
  background-color: var(--danger) !important;
}
.bg-success {
  background-color: var(--success) !important;
}
.bg-caution {
  background-color: var(--caution) !important;
}
.bg-info {
  background-color: var(--info) !important;
}
.bg-text-primary {
  background-color: var(--text-primary);
}
.bg-text-secondary {
  background-color: var(--text-secondary);
}
.bg-background-primary {
  background-color: var(--background-primary);
}
.bg-background-secondary {
  background-color: var(--background-secondary);
}
.bg-background-tertiary {
  background-color: var(--background-tertiary);
}
.bg-white {
  background-color: var(--white);
}
.bg-offwhite {
  background-color: var(--offwhite);
}

/*  TYPOGRAPHY   */
.text-justify {
  text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
  letter-spacing: 0;
}

h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
}
@media (max-width: 768px) {
  h1 {
    font-weight: 900;
    font-size: 32px;
    line-height: 40px;
  }
}

h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
}
@media (max-width: 768px) {
  h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
  }
}

h3 {
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
}
@media (max-width: 768px) {
  h3 {
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
  }
}

h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}
@media (max-width: 768px) {
  h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
  }
}
h4.m-bot {
  margin-bottom: 24px !important;
}

h5 {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
}
@media (max-width: 768px) {
  h5 {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
  }
}

h6 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 768px) {
  h6 {
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
  }
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 768px) {
  p {
    font-size: 14px;
  }
}

span {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
}
span > a {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
}

/*  LIST    */
ul,
ol {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.button {
  border: 0;
  padding: 0;
  background: none;
  outline: none !important;
}
.button:focus {
  outline: none;
}

.text-button-small {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-transform: none;
  letter-spacing: 0;
}

.text-button {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}

.button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
  border-radius: var(--border-radius);
  min-width: 160px;
  min-height: 40px;
  text-align: center;
  padding: 8px 20.5px;
}
.button-sm-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-transform: none;
  letter-spacing: 0;
}
.button-lg {
  height: 56px;
}
.button-white {
  background: var(--white);
}
.button-primary {
  background: var(--primary);
  color: var(--white);
}
.button-primary:hover {
  color: var(--white) !important;
}
.button-secondary {
  background: var(--secondary);
  color: var(--white);
}
.button-secondary:hover {
  color: var(--white) !important;
}
.button-outline-primary {
  background: var(--white);
  border: 1px solid var(--primary);
  color: var(--primary);
}
.button-outline-primary:hover {
  color: var(--primary) !important;
}
.button-outline-secondary {
  background: var(--white);
  border: 1px solid var(--secondary);
  color: var(--secondary);
}
.button-outline-secondary:hover {
  color: var(--secondary) !important;
}

/*  LINKS   */
a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}
a:hover, a:focus {
  color: var(--secondary) !important;
}
a.active {
  color: var(--secondary) !important;
}

/*  ICON   */
.icon {
  width: var(--icon);
  height: var(--icon);
  margin-bottom: 0;
}
.icon-sm {
  width: var(--icon-sm);
  height: var(--icon-sm);
}
.icon-md {
  width: var(--icon-md);
  height: var(--icon-md);
}
.icon-lg {
  width: var(--icon-lg);
  height: var(--icon-lg);
}

/* DROPDOWN */
.dropdown {
  padding: 16px 0px;
}
.dropdown-label {
  position: relative;
}
.dropdown-label::after {
  content: url("../images/icons/chevron-down.svg");
  display: flex;
  height: 24px;
  width: 24px;
  margin-left: 8px;
}
.dropdown-wrapper {
  padding: 4px 8px;
}
.dropdown-wrapper > *:not(:last-child) {
  margin-bottom: 8px;
}

/* ICON BOX */
.icon-box {
  padding: 32px 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .icon-box {
    padding: 24px 0px 20px;
  }
}
.icon-box-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--primary);
  min-width: 56px;
  width: 56px;
  height: 56px;
  margin-top: 8px;
  margin-right: 32px;
  margin-left: 16px;
}
@media (max-width: 768px) {
  .icon-box-icon {
    min-width: 40px;
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 768px) {
  .icon-box-icon {
    margin-right: 16px;
    margin-left: 0px;
  }
}
.icon-box-icon > img {
  width: 32px;
  height: 32px;
}
@media (max-width: 768px) {
  .icon-box-icon > img {
    width: 24px;
    height: 24px;
  }
}
.icon-box-icon-filled {
  border: 0;
  background: var(--primary);
}
.icon-box-content > *:not(:last-child) {
  margin-bottom: 8px;
}
.icon-box-center {
  flex-direction: column;
  align-items: center;
}
.icon-box-center .icon-box-icon {
  margin: 0px;
}
.icon-box-center .icon-box-content {
  margin-top: 16px;
  text-align: center;
}
.icon-box-center .icon-box-content > * {
  text-align: center;
}

.carousel {
  position: relative;
  display: flex;
  align-items: center;
}
.carousel .slick-arrow {
  border: 0;
  background: var(--neutral);
  border-radius: 50%;
  min-width: 56px;
  width: 56px;
  height: 56px;
}
@media (max-width: 768px) {
  .carousel .slick-arrow {
    position: absolute;
    min-width: 40px;
    width: 40px;
    height: 40px;
    z-index: 1;
  }
  .carousel .slick-arrow > svg {
    min-width: 24px;
    width: 24px;
    height: 24px;
  }
}
@media (max-width: 768px) {
  .carousel .slick-arrow.carousel-next {
    right: -15px;
  }
}
@media (max-width: 768px) {
  .carousel .slick-arrow.carousel-prev {
    left: -15px;
  }
}

.footer-widget-content > *:not(:last-child) {
  margin-bottom: 4px;
}
@media (max-width: 768px) {
  .footer-widget-label {
    padding: 20px 0px 0px;
  }
}
@media (max-width: 768px) {
  .footer-widget .footer-widget-label {
    position: relative;
    display: flex;
    align-items: center;
  }
  .footer-widget .footer-widget-label::after {
    content: url("../images/icons/plus.svg");
    position: absolute;
    right: 0;
    width: 16px;
    height: 16px;
  }
  .footer-widget.open .footer-widget-label::after {
    content: url("../images/icons/minus.svg");
  }
}

.breadcrumb {
  margin-bottom: 32px;
}
.breadcrumb > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
.breadcrumb > *:not(:last-child)::after {
  content: url("../images/icons/chevron-right.svg");
  height: 24px;
  width: 24px;
  margin: 0px 8px;
}
.breadcrumb > *:last-child {
  color: var(--secondary);
}
.breadcrumb * {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
}

.bordered-image {
  width: 100%;
  border-radius: var(--border-radius);
  padding: 16px;
  background: var(--neutral);
  box-shadow: 0px 0px 12.5px rgba(0, 0, 0, 0.125);
}
@media (max-width: 768px) {
  .bordered-image {
    padding: 8px;
  }
}
.bordered-image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
  z-index: 1;
}
.bordered-image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(206.2% 65.39% at 50% 50%, #EFF1FF 0%, #000000 100%), rgba(0, 0, 0, 0.25);
  mix-blend-mode: multiply;
  z-index: -1;
}
.bordered-image-wrapper > img {
  position: relative;
  width: 100%;
  z-index: -1;
}

.accordion > *:not(:last-child) {
  margin-bottom: 16px;
}
.accordion-item {
  border-radius: var(--border-radius) !important;
  background: var(--neutral);
}
.accordion-item.open.accordion-item-label::after {
  content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.3334 8H2.66675' stroke='%2300BAE3' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}
.accordion-item-label {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  padding: 16px 32px;
}
.accordion-item-label::before {
  content: url("../images/icons/question.svg");
  height: 24px;
  width: 24px;
  margin-right: 8px;
}
.accordion-item-label::after {
  position: absolute;
  content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.00008 8.00008H2.66675M8.00008 13.3334V8.00008V13.3334ZM8.00008 8.00008V2.66675V8.00008ZM8.00008 8.00008H13.3334H8.00008Z' stroke='%2300BAE3' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  height: 24px;
  width: 24px;
  right: 32px;
}
.accordion-item-content {
  margin: 0px 32px;
}
.accordion-item-content > :last-child {
  padding-bottom: 16px !important;
}

/*# sourceMappingURL=global.css.map */
