@use "./partials/header";
@use "./partials/sections";
@use "./partials/animations";

@import "./mixins/breakpoints";

@font-face {
  font-family: Nimbus Sans L;
  src: url("../fonts/NimbusSanL-Reg.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Nimbus Sans L;
  src: url("../fonts/NimbusSanL-Bol.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Nimbus Sans L;
  src: url("../fonts/NimbusSanL-BolIta.otf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Nimbus Sans L;
  src: url("../fonts/NimbusSanL-RegIta.otf");
  font-weight: normal;
  font-style: italic;
}

:root {
  --font-family: Nimbus Sans L;
  --bg-neutral: #f5f5f5;
  --text-primary: #222;
  --text-secondary: #666;
  --primary: #00c3ff;

  --transition-time: 0.3s;

  --border-radius: 8px;

  --icon: 24px;
  --icon-sm: 16px;
  --icon-md: 32px;
  --icon-lg: 48px;
}

body {
  min-width: 375px;
  background: var(--bg-neutral);

  * {
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 400;

    color: var(--text-primary);

    @include sm {
      font-size: 16px;
    }
  }
}

.only {
  &-desktop {
    @include sm {
      display: none !important;
    }
  }

  &-mobile {
    @include min-breakpoint(768px) {
      display: none !important;
    }
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;

  @media (max-width: 1024px) {
    padding: 0 30px;
  }
}

/* TYPOGRAPHY */
p {
  > a {
    display: inline;
  }
}

a {
  text-decoration: none;

  &:hover {
    color: var(--primary);
  }
}

h3 {
  margin: 0;
  color: var(--text-secondary);
  font-size: 32px;

  display: flex;
  align-items: center;

  > img {
    margin-left: 8px;
  }

  @include sm {
    font-size: 16px;
  }
}

h2 {
  font-weight: 900;
  font-size: 48px;

  margin-bottom: 96px;

  @include sm {
    font-size: 24px;
    margin-bottom: 48px;
  }
}

h1 {
  font-weight: 900;
  font-size: 72px;

  @include sm {
    font-size: 36px;
  }
}

/*  COLORS */
.color {
  &-primary {
    color: var(--primary);
  }

  &-secondary {
    color: var(--secondary);
  }

  &-neutral {
    color: var(--neutral);
  }

  &-danger {
    color: var(--danger);
  }

  &-success {
    color: var(--success);
  }

  &-caution {
    color: var(--caution);
  }

  &-info {
    color: var(--info);
  }

  &-text-primary {
    color: var(--text-primary);
  }

  &-text-secondary {
    color: var(--text-secondary);
  }

  &-text-tertiary {
    color: var(--text-tertiary);
  }

  &-background-primary {
    color: var(--background-primary);
  }

  &-background-secondary {
    color: var(--background-secondary);
  }

  &-background-tertiary {
    color: var(--background-tertiary);
  }

  &-white {
    color: var(--white);
  }

  &-light-primary {
    color: var(--light-primary);
  }

  &-light-secondary {
    color: var(--light-secondary);
  }
}

.bg {
  &-primary {
    background-color: var(--primary) !important;
  }

  &-secondary {
    background-color: var(--secondary) !important;
  }

  &-neutral {
    background-color: var(--neutral) !important;
  }

  &-danger {
    background-color: var(--danger) !important;
  }

  &-success {
    background-color: var(--success) !important;
  }

  &-caution {
    background-color: var(--caution) !important;
  }

  &-info {
    background-color: var(--info) !important;
  }

  &-text-primary {
    background-color: var(--text-primary) !important;
  }

  &-text-secondary {
    background-color: var(--text-secondary) !important;
  }

  &-text-tertiary {
    background-color: var(--text-tertiary) !important;
  }

  &-background-primary {
    background-color: var(--background-primary) !important;
  }

  &-background-secondary {
    background-color: var(--background-secondary) !important;
  }

  &-background-tertiary {
    background-color: var(--background-tertiary) !important;
  }

  &-white {
    background-color: var(--white) !important;
  }

  &-light-primary {
    background-color: var(--light-primary) !important;
  }

  &-light-secondary {
    background-color: var(--light-secondary) !important;
  }
}

/* ELEMENTS */
.button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  padding: 0px 48px;
  background: none;

  outline: none !important;

  font-weight: 900;

  border-radius: var(--border-radius);

  height: 56px;

  @include sm {
    height: 40px;
    padding: 0px 24px;
  }

  &:focus {
    outline: none;
  }

  &-nHW {
    min-width: 0;
    min-height: 0;
    padding: 0;
  }

  &-primary {
    background: var(--primary);
    color: var(--bg-neutral);

    &:hover {
      color: var(--bg-neutral);
    }
  }
}

/* ANIMATIONS */

.hover-animation {
  position: relative;
  transition: transform var(--transition-time);

  z-index: 1;

  &:hover {
    transform: rotate(-5deg) scale(1.2);
  }
}

[data-animation="letters-slide-in"] {
  > span {
    font-weight: 900;
    font-size: inherit;
  }
}

[data-animation="letter-slide-in"] {
  overflow: hidden;
  display: inline-block;
  transform: translateX(1000%);
  opacity: 0;
  transition: transform var(--transition-time), opacity var(--transition-time);
}

.letter-slide-in {
  transform: translateX(0);
  opacity: 1;
}

.icon {
  display: block;
  width: var(--icon);
  height: var(--icon);
  margin-bottom: 0;

  &-hover {
    &:hover {
      background: #00c3ff !important;

      * {
        background: #00c3ff !important;
      }
    }
  }

  &:not(.icon-emoji) {
    background: black;
  }

  &-sm {
    width: var(--icon-sm);
    height: var(--icon-sm);
  }

  &-md {
    width: var(--icon-md);
    height: var(--icon-md);
  }

  &-lg {
    width: var(--icon-lg);
    height: var(--icon-lg);
  }

  &-instagram {
    -webkit-mask: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.465 1.06603C8.638 1.01203 9.012 1.00003 12 1.00003C14.988 1.00003 15.362 1.01303 16.534 1.06603C17.706 1.11903 18.506 1.30603 19.206 1.57703C19.939 1.85403 20.604 2.28703 21.154 2.84703C21.714 3.39603 22.146 4.06003 22.422 4.79403C22.694 5.49403 22.88 6.29403 22.934 7.46403C22.988 8.63903 23 9.01303 23 12C23 14.988 22.987 15.362 22.934 16.535C22.881 17.705 22.694 18.505 22.422 19.205C22.146 19.9391 21.7133 20.6042 21.154 21.154C20.604 21.714 19.939 22.146 19.206 22.422C18.506 22.694 17.706 22.88 16.536 22.934C15.362 22.988 14.988 23 12 23C9.012 23 8.638 22.987 7.465 22.934C6.295 22.881 5.495 22.694 4.795 22.422C4.06092 22.146 3.39582 21.7133 2.846 21.154C2.28638 20.6047 1.85331 19.9399 1.577 19.206C1.306 18.506 1.12 17.706 1.066 16.536C1.012 15.361 1 14.987 1 12C1 9.01203 1.013 8.63803 1.066 7.46603C1.119 6.29403 1.306 5.49403 1.577 4.79403C1.85372 4.06011 2.28712 3.39534 2.847 2.84603C3.39604 2.28653 4.06047 1.85347 4.794 1.57703C5.494 1.30603 6.294 1.12003 7.464 1.06603H7.465ZM16.445 3.04603C15.285 2.99303 14.937 2.98203 12 2.98203C9.063 2.98203 8.715 2.99303 7.555 3.04603C6.482 3.09503 5.9 3.27403 5.512 3.42503C4.999 3.62503 4.632 3.86203 4.247 4.24703C3.88205 4.60208 3.60118 5.03431 3.425 5.51203C3.274 5.90003 3.095 6.48203 3.046 7.55503C2.993 8.71503 2.982 9.06303 2.982 12C2.982 14.937 2.993 15.285 3.046 16.445C3.095 17.518 3.274 18.1 3.425 18.488C3.601 18.965 3.882 19.398 4.247 19.753C4.602 20.118 5.035 20.399 5.512 20.575C5.9 20.726 6.482 20.905 7.555 20.954C8.715 21.007 9.062 21.018 12 21.018C14.938 21.018 15.285 21.007 16.445 20.954C17.518 20.905 18.1 20.726 18.488 20.575C19.001 20.375 19.368 20.138 19.753 19.753C20.118 19.398 20.399 18.965 20.575 18.488C20.726 18.1 20.905 17.518 20.954 16.445C21.007 15.285 21.018 14.937 21.018 12C21.018 9.06303 21.007 8.71503 20.954 7.55503C20.905 6.48203 20.726 5.90003 20.575 5.51203C20.375 4.99903 20.138 4.63203 19.753 4.24703C19.3979 3.8821 18.9657 3.60124 18.488 3.42503C18.1 3.27403 17.518 3.09503 16.445 3.04603ZM10.595 15.391C11.3797 15.7177 12.2534 15.7617 13.0669 15.5158C13.8805 15.2698 14.5834 14.7489 15.0556 14.0423C15.5278 13.3356 15.7401 12.4869 15.656 11.6411C15.572 10.7954 15.197 10.005 14.595 9.40503C14.2112 9.02151 13.7472 8.72784 13.2363 8.54518C12.7255 8.36251 12.1804 8.29539 11.6405 8.34865C11.1006 8.4019 10.5792 8.57421 10.1138 8.85316C9.64845 9.13211 9.25074 9.51077 8.9493 9.96188C8.64786 10.413 8.45019 10.9253 8.37052 11.462C8.29084 11.9987 8.33115 12.5463 8.48854 13.0655C8.64593 13.5848 8.91648 14.0626 9.28072 14.4648C9.64496 14.8669 10.0938 15.1832 10.595 15.391ZM8.002 8.00203C8.52702 7.47701 9.15032 7.06053 9.8363 6.77639C10.5223 6.49225 11.2575 6.346 12 6.346C12.7425 6.346 13.4777 6.49225 14.1637 6.77639C14.8497 7.06053 15.473 7.47701 15.998 8.00203C16.523 8.52706 16.9395 9.15035 17.2236 9.83633C17.5078 10.5223 17.654 11.2575 17.654 12C17.654 12.7425 17.5078 13.4778 17.2236 14.1637C16.9395 14.8497 16.523 15.473 15.998 15.998C14.9377 17.0584 13.4995 17.6541 12 17.6541C10.5005 17.6541 9.06234 17.0584 8.002 15.998C6.94166 14.9377 6.34597 13.4996 6.34597 12C6.34597 10.5005 6.94166 9.06237 8.002 8.00203ZM18.908 7.18803C19.0381 7.0653 19.1423 6.91771 19.2143 6.754C19.2863 6.5903 19.3248 6.4138 19.3274 6.23496C19.33 6.05612 19.2967 5.87858 19.2295 5.71284C19.1622 5.5471 19.0624 5.39654 18.936 5.27007C18.8095 5.1436 18.6589 5.04379 18.4932 4.97655C18.3275 4.90931 18.1499 4.87601 17.9711 4.87861C17.7922 4.88122 17.6157 4.91968 17.452 4.99173C17.2883 5.06377 17.1407 5.16793 17.018 5.29803C16.7793 5.55106 16.6486 5.88715 16.6537 6.23496C16.6588 6.58277 16.7992 6.91491 17.0452 7.16087C17.2911 7.40684 17.6233 7.54726 17.9711 7.55233C18.3189 7.5574 18.655 7.42672 18.908 7.18803Z' fill='black'/%3E%3C/svg%3E%0A")
      center/cover no-repeat;
    mask: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.465 1.06603C8.638 1.01203 9.012 1.00003 12 1.00003C14.988 1.00003 15.362 1.01303 16.534 1.06603C17.706 1.11903 18.506 1.30603 19.206 1.57703C19.939 1.85403 20.604 2.28703 21.154 2.84703C21.714 3.39603 22.146 4.06003 22.422 4.79403C22.694 5.49403 22.88 6.29403 22.934 7.46403C22.988 8.63903 23 9.01303 23 12C23 14.988 22.987 15.362 22.934 16.535C22.881 17.705 22.694 18.505 22.422 19.205C22.146 19.9391 21.7133 20.6042 21.154 21.154C20.604 21.714 19.939 22.146 19.206 22.422C18.506 22.694 17.706 22.88 16.536 22.934C15.362 22.988 14.988 23 12 23C9.012 23 8.638 22.987 7.465 22.934C6.295 22.881 5.495 22.694 4.795 22.422C4.06092 22.146 3.39582 21.7133 2.846 21.154C2.28638 20.6047 1.85331 19.9399 1.577 19.206C1.306 18.506 1.12 17.706 1.066 16.536C1.012 15.361 1 14.987 1 12C1 9.01203 1.013 8.63803 1.066 7.46603C1.119 6.29403 1.306 5.49403 1.577 4.79403C1.85372 4.06011 2.28712 3.39534 2.847 2.84603C3.39604 2.28653 4.06047 1.85347 4.794 1.57703C5.494 1.30603 6.294 1.12003 7.464 1.06603H7.465ZM16.445 3.04603C15.285 2.99303 14.937 2.98203 12 2.98203C9.063 2.98203 8.715 2.99303 7.555 3.04603C6.482 3.09503 5.9 3.27403 5.512 3.42503C4.999 3.62503 4.632 3.86203 4.247 4.24703C3.88205 4.60208 3.60118 5.03431 3.425 5.51203C3.274 5.90003 3.095 6.48203 3.046 7.55503C2.993 8.71503 2.982 9.06303 2.982 12C2.982 14.937 2.993 15.285 3.046 16.445C3.095 17.518 3.274 18.1 3.425 18.488C3.601 18.965 3.882 19.398 4.247 19.753C4.602 20.118 5.035 20.399 5.512 20.575C5.9 20.726 6.482 20.905 7.555 20.954C8.715 21.007 9.062 21.018 12 21.018C14.938 21.018 15.285 21.007 16.445 20.954C17.518 20.905 18.1 20.726 18.488 20.575C19.001 20.375 19.368 20.138 19.753 19.753C20.118 19.398 20.399 18.965 20.575 18.488C20.726 18.1 20.905 17.518 20.954 16.445C21.007 15.285 21.018 14.937 21.018 12C21.018 9.06303 21.007 8.71503 20.954 7.55503C20.905 6.48203 20.726 5.90003 20.575 5.51203C20.375 4.99903 20.138 4.63203 19.753 4.24703C19.3979 3.8821 18.9657 3.60124 18.488 3.42503C18.1 3.27403 17.518 3.09503 16.445 3.04603ZM10.595 15.391C11.3797 15.7177 12.2534 15.7617 13.0669 15.5158C13.8805 15.2698 14.5834 14.7489 15.0556 14.0423C15.5278 13.3356 15.7401 12.4869 15.656 11.6411C15.572 10.7954 15.197 10.005 14.595 9.40503C14.2112 9.02151 13.7472 8.72784 13.2363 8.54518C12.7255 8.36251 12.1804 8.29539 11.6405 8.34865C11.1006 8.4019 10.5792 8.57421 10.1138 8.85316C9.64845 9.13211 9.25074 9.51077 8.9493 9.96188C8.64786 10.413 8.45019 10.9253 8.37052 11.462C8.29084 11.9987 8.33115 12.5463 8.48854 13.0655C8.64593 13.5848 8.91648 14.0626 9.28072 14.4648C9.64496 14.8669 10.0938 15.1832 10.595 15.391ZM8.002 8.00203C8.52702 7.47701 9.15032 7.06053 9.8363 6.77639C10.5223 6.49225 11.2575 6.346 12 6.346C12.7425 6.346 13.4777 6.49225 14.1637 6.77639C14.8497 7.06053 15.473 7.47701 15.998 8.00203C16.523 8.52706 16.9395 9.15035 17.2236 9.83633C17.5078 10.5223 17.654 11.2575 17.654 12C17.654 12.7425 17.5078 13.4778 17.2236 14.1637C16.9395 14.8497 16.523 15.473 15.998 15.998C14.9377 17.0584 13.4995 17.6541 12 17.6541C10.5005 17.6541 9.06234 17.0584 8.002 15.998C6.94166 14.9377 6.34597 13.4996 6.34597 12C6.34597 10.5005 6.94166 9.06237 8.002 8.00203ZM18.908 7.18803C19.0381 7.0653 19.1423 6.91771 19.2143 6.754C19.2863 6.5903 19.3248 6.4138 19.3274 6.23496C19.33 6.05612 19.2967 5.87858 19.2295 5.71284C19.1622 5.5471 19.0624 5.39654 18.936 5.27007C18.8095 5.1436 18.6589 5.04379 18.4932 4.97655C18.3275 4.90931 18.1499 4.87601 17.9711 4.87861C17.7922 4.88122 17.6157 4.91968 17.452 4.99173C17.2883 5.06377 17.1407 5.16793 17.018 5.29803C16.7793 5.55106 16.6486 5.88715 16.6537 6.23496C16.6588 6.58277 16.7992 6.91491 17.0452 7.16087C17.2911 7.40684 17.6233 7.54726 17.9711 7.55233C18.3189 7.5574 18.655 7.42672 18.908 7.18803Z' fill='black'/%3E%3C/svg%3E%0A")
      center/cover no-repeat;
  }

  &-linkedin {
    -webkit-mask: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 2.83803C1 2.35057 1.19365 1.88306 1.53834 1.53837C1.88303 1.19368 2.35053 1.00003 2.838 1.00003H21.16C21.4016 0.999638 21.6409 1.0469 21.8641 1.1391C22.0874 1.2313 22.2903 1.36664 22.4612 1.53737C22.6322 1.7081 22.7677 1.91086 22.8602 2.13404C22.9526 2.35723 23.0001 2.59646 23 2.83803V21.16C23.0003 21.4017 22.9529 21.641 22.8606 21.8643C22.7683 22.0875 22.6328 22.2904 22.462 22.4613C22.2912 22.6322 22.0884 22.7678 21.8651 22.8602C21.6419 22.9527 21.4026 23.0002 21.161 23H2.838C2.59655 23 2.35746 22.9525 2.1344 22.86C1.91134 22.7676 1.70867 22.6321 1.53798 22.4613C1.3673 22.2906 1.23193 22.0878 1.13962 21.8647C1.04731 21.6416 0.999869 21.4025 1 21.161V2.83803ZM9.708 9.38803H12.687V10.884C13.117 10.024 14.217 9.25003 15.87 9.25003C19.039 9.25003 19.79 10.963 19.79 14.106V19.928H16.583V14.822C16.583 13.032 16.153 12.022 15.061 12.022C13.546 12.022 12.916 13.111 12.916 14.822V19.928H9.708V9.38803ZM4.208 19.791H7.416V9.25003H4.208V19.79V19.791ZM7.875 5.81203C7.88105 6.08671 7.83217 6.35982 7.73124 6.61535C7.63031 6.87087 7.47935 7.10367 7.28723 7.30007C7.09511 7.49646 6.8657 7.65251 6.61246 7.75904C6.35921 7.86557 6.08724 7.92045 5.8125 7.92045C5.53776 7.92045 5.26579 7.86557 5.01255 7.75904C4.7593 7.65251 4.52989 7.49646 4.33777 7.30007C4.14565 7.10367 3.99469 6.87087 3.89376 6.61535C3.79283 6.35982 3.74395 6.08671 3.75 5.81203C3.76187 5.27289 3.98439 4.75982 4.36989 4.38272C4.75539 4.00561 5.27322 3.79445 5.8125 3.79445C6.35178 3.79445 6.86961 4.00561 7.25512 4.38272C7.64062 4.75982 7.86313 5.27289 7.875 5.81203Z' fill='%23666666'/%3E%3C/svg%3E%0A")
      center/cover no-repeat;
    mask: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 2.83803C1 2.35057 1.19365 1.88306 1.53834 1.53837C1.88303 1.19368 2.35053 1.00003 2.838 1.00003H21.16C21.4016 0.999638 21.6409 1.0469 21.8641 1.1391C22.0874 1.2313 22.2903 1.36664 22.4612 1.53737C22.6322 1.7081 22.7677 1.91086 22.8602 2.13404C22.9526 2.35723 23.0001 2.59646 23 2.83803V21.16C23.0003 21.4017 22.9529 21.641 22.8606 21.8643C22.7683 22.0875 22.6328 22.2904 22.462 22.4613C22.2912 22.6322 22.0884 22.7678 21.8651 22.8602C21.6419 22.9527 21.4026 23.0002 21.161 23H2.838C2.59655 23 2.35746 22.9525 2.1344 22.86C1.91134 22.7676 1.70867 22.6321 1.53798 22.4613C1.3673 22.2906 1.23193 22.0878 1.13962 21.8647C1.04731 21.6416 0.999869 21.4025 1 21.161V2.83803ZM9.708 9.38803H12.687V10.884C13.117 10.024 14.217 9.25003 15.87 9.25003C19.039 9.25003 19.79 10.963 19.79 14.106V19.928H16.583V14.822C16.583 13.032 16.153 12.022 15.061 12.022C13.546 12.022 12.916 13.111 12.916 14.822V19.928H9.708V9.38803ZM4.208 19.791H7.416V9.25003H4.208V19.79V19.791ZM7.875 5.81203C7.88105 6.08671 7.83217 6.35982 7.73124 6.61535C7.63031 6.87087 7.47935 7.10367 7.28723 7.30007C7.09511 7.49646 6.8657 7.65251 6.61246 7.75904C6.35921 7.86557 6.08724 7.92045 5.8125 7.92045C5.53776 7.92045 5.26579 7.86557 5.01255 7.75904C4.7593 7.65251 4.52989 7.49646 4.33777 7.30007C4.14565 7.10367 3.99469 6.87087 3.89376 6.61535C3.79283 6.35982 3.74395 6.08671 3.75 5.81203C3.76187 5.27289 3.98439 4.75982 4.36989 4.38272C4.75539 4.00561 5.27322 3.79445 5.8125 3.79445C6.35178 3.79445 6.86961 4.00561 7.25512 4.38272C7.64062 4.75982 7.86313 5.27289 7.875 5.81203Z' fill='%23666666'/%3E%3C/svg%3E%0A")
      center/cover no-repeat;
  }

  &-menu {
    -webkit-mask: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 8H21C21.2652 8 21.5196 7.89464 21.7071 7.70711C21.8946 7.51957 22 7.26522 22 7C22 6.73478 21.8946 6.48043 21.7071 6.29289C21.5196 6.10536 21.2652 6 21 6H3C2.73478 6 2.48043 6.10536 2.29289 6.29289C2.10536 6.48043 2 6.73478 2 7C2 7.26522 2.10536 7.51957 2.29289 7.70711C2.48043 7.89464 2.73478 8 3 8ZM21 16H3C2.73478 16 2.48043 16.1054 2.29289 16.2929C2.10536 16.4804 2 16.7348 2 17C2 17.2652 2.10536 17.5196 2.29289 17.7071C2.48043 17.8946 2.73478 18 3 18H21C21.2652 18 21.5196 17.8946 21.7071 17.7071C21.8946 17.5196 22 17.2652 22 17C22 16.7348 21.8946 16.4804 21.7071 16.2929C21.5196 16.1054 21.2652 16 21 16ZM21 11H3C2.73478 11 2.48043 11.1054 2.29289 11.2929C2.10536 11.4804 2 11.7348 2 12C2 12.2652 2.10536 12.5196 2.29289 12.7071C2.48043 12.8946 2.73478 13 3 13H21C21.2652 13 21.5196 12.8946 21.7071 12.7071C21.8946 12.5196 22 12.2652 22 12C22 11.7348 21.8946 11.4804 21.7071 11.2929C21.5196 11.1054 21.2652 11 21 11Z' fill='black'/%3E%3C/svg%3E%0A")
      center/cover no-repeat;
    mask: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 8H21C21.2652 8 21.5196 7.89464 21.7071 7.70711C21.8946 7.51957 22 7.26522 22 7C22 6.73478 21.8946 6.48043 21.7071 6.29289C21.5196 6.10536 21.2652 6 21 6H3C2.73478 6 2.48043 6.10536 2.29289 6.29289C2.10536 6.48043 2 6.73478 2 7C2 7.26522 2.10536 7.51957 2.29289 7.70711C2.48043 7.89464 2.73478 8 3 8ZM21 16H3C2.73478 16 2.48043 16.1054 2.29289 16.2929C2.10536 16.4804 2 16.7348 2 17C2 17.2652 2.10536 17.5196 2.29289 17.7071C2.48043 17.8946 2.73478 18 3 18H21C21.2652 18 21.5196 17.8946 21.7071 17.7071C21.8946 17.5196 22 17.2652 22 17C22 16.7348 21.8946 16.4804 21.7071 16.2929C21.5196 16.1054 21.2652 16 21 16ZM21 11H3C2.73478 11 2.48043 11.1054 2.29289 11.2929C2.10536 11.4804 2 11.7348 2 12C2 12.2652 2.10536 12.5196 2.29289 12.7071C2.48043 12.8946 2.73478 13 3 13H21C21.2652 13 21.5196 12.8946 21.7071 12.7071C21.8946 12.5196 22 12.2652 22 12C22 11.7348 21.8946 11.4804 21.7071 11.2929C21.5196 11.1054 21.2652 11 21 11Z' fill='black'/%3E%3C/svg%3E%0A")
      center/cover no-repeat;
  }

  &-close {
    -webkit-mask: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.4099 12.0002L19.7099 5.71019C19.8982 5.52188 20.004 5.26649 20.004 5.00019C20.004 4.73388 19.8982 4.47849 19.7099 4.29019C19.5216 4.10188 19.2662 3.99609 18.9999 3.99609C18.7336 3.99609 18.4782 4.10188 18.2899 4.29019L11.9999 10.5902L5.70994 4.29019C5.52164 4.10188 5.26624 3.99609 4.99994 3.99609C4.73364 3.99609 4.47824 4.10188 4.28994 4.29019C4.10164 4.47849 3.99585 4.73388 3.99585 5.00019C3.99585 5.26649 4.10164 5.52188 4.28994 5.71019L10.5899 12.0002L4.28994 18.2902C4.19621 18.3831 4.12182 18.4937 4.07105 18.6156C4.02028 18.7375 3.99414 18.8682 3.99414 19.0002C3.99414 19.1322 4.02028 19.2629 4.07105 19.3848C4.12182 19.5066 4.19621 19.6172 4.28994 19.7102C4.3829 19.8039 4.4935 19.8783 4.61536 19.9291C4.73722 19.9798 4.86793 20.006 4.99994 20.006C5.13195 20.006 5.26266 19.9798 5.38452 19.9291C5.50638 19.8783 5.61698 19.8039 5.70994 19.7102L11.9999 13.4102L18.2899 19.7102C18.3829 19.8039 18.4935 19.8783 18.6154 19.9291C18.7372 19.9798 18.8679 20.006 18.9999 20.006C19.132 20.006 19.2627 19.9798 19.3845 19.9291C19.5064 19.8783 19.617 19.8039 19.7099 19.7102C19.8037 19.6172 19.8781 19.5066 19.9288 19.3848C19.9796 19.2629 20.0057 19.1322 20.0057 19.0002C20.0057 18.8682 19.9796 18.7375 19.9288 18.6156C19.8781 18.4937 19.8037 18.3831 19.7099 18.2902L13.4099 12.0002Z' fill='black'/%3E%3C/svg%3E%0A")
      center/cover no-repeat;
    mask: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.4099 12.0002L19.7099 5.71019C19.8982 5.52188 20.004 5.26649 20.004 5.00019C20.004 4.73388 19.8982 4.47849 19.7099 4.29019C19.5216 4.10188 19.2662 3.99609 18.9999 3.99609C18.7336 3.99609 18.4782 4.10188 18.2899 4.29019L11.9999 10.5902L5.70994 4.29019C5.52164 4.10188 5.26624 3.99609 4.99994 3.99609C4.73364 3.99609 4.47824 4.10188 4.28994 4.29019C4.10164 4.47849 3.99585 4.73388 3.99585 5.00019C3.99585 5.26649 4.10164 5.52188 4.28994 5.71019L10.5899 12.0002L4.28994 18.2902C4.19621 18.3831 4.12182 18.4937 4.07105 18.6156C4.02028 18.7375 3.99414 18.8682 3.99414 19.0002C3.99414 19.1322 4.02028 19.2629 4.07105 19.3848C4.12182 19.5066 4.19621 19.6172 4.28994 19.7102C4.3829 19.8039 4.4935 19.8783 4.61536 19.9291C4.73722 19.9798 4.86793 20.006 4.99994 20.006C5.13195 20.006 5.26266 19.9798 5.38452 19.9291C5.50638 19.8783 5.61698 19.8039 5.70994 19.7102L11.9999 13.4102L18.2899 19.7102C18.3829 19.8039 18.4935 19.8783 18.6154 19.9291C18.7372 19.9798 18.8679 20.006 18.9999 20.006C19.132 20.006 19.2627 19.9798 19.3845 19.9291C19.5064 19.8783 19.617 19.8039 19.7099 19.7102C19.8037 19.6172 19.8781 19.5066 19.9288 19.3848C19.9796 19.2629 20.0057 19.1322 20.0057 19.0002C20.0057 18.8682 19.9796 18.7375 19.9288 18.6156C19.8781 18.4937 19.8037 18.3831 19.7099 18.2902L13.4099 12.0002Z' fill='black'/%3E%3C/svg%3E%0A")
      center/cover no-repeat;
  }

  &-envelope {
    -webkit-mask: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6667 2.66602H3.33337C2.80294 2.66602 2.29423 2.87673 1.91916 3.2518C1.54409 3.62687 1.33337 4.13558 1.33337 4.66602V11.3327C1.33337 11.8631 1.54409 12.3718 1.91916 12.7469C2.29423 13.122 2.80294 13.3327 3.33337 13.3327H12.6667C13.1971 13.3327 13.7058 13.122 14.0809 12.7469C14.456 12.3718 14.6667 11.8631 14.6667 11.3327V4.66602C14.6667 4.13558 14.456 3.62687 14.0809 3.2518C13.7058 2.87673 13.1971 2.66602 12.6667 2.66602ZM12.3934 3.99935L8.47337 7.91935C8.4114 7.98183 8.33767 8.03143 8.25643 8.06528C8.17519 8.09912 8.08805 8.11655 8.00004 8.11655C7.91203 8.11655 7.8249 8.09912 7.74366 8.06528C7.66242 8.03143 7.58868 7.98183 7.52671 7.91935L3.60671 3.99935H12.3934ZM13.3334 11.3327C13.3334 11.5095 13.2631 11.6791 13.1381 11.8041C13.0131 11.9291 12.8435 11.9993 12.6667 11.9993H3.33337C3.15656 11.9993 2.98699 11.9291 2.86197 11.8041C2.73695 11.6791 2.66671 11.5095 2.66671 11.3327V4.93935L6.58671 8.85935C6.96171 9.23388 7.47004 9.44426 8.00004 9.44426C8.53004 9.44426 9.03837 9.23388 9.41337 8.85935L13.3334 4.93935V11.3327Z' fill='black'/%3E%3C/svg%3E ")
      center/cover no-repeat;
    mask: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6667 2.66602H3.33337C2.80294 2.66602 2.29423 2.87673 1.91916 3.2518C1.54409 3.62687 1.33337 4.13558 1.33337 4.66602V11.3327C1.33337 11.8631 1.54409 12.3718 1.91916 12.7469C2.29423 13.122 2.80294 13.3327 3.33337 13.3327H12.6667C13.1971 13.3327 13.7058 13.122 14.0809 12.7469C14.456 12.3718 14.6667 11.8631 14.6667 11.3327V4.66602C14.6667 4.13558 14.456 3.62687 14.0809 3.2518C13.7058 2.87673 13.1971 2.66602 12.6667 2.66602ZM12.3934 3.99935L8.47337 7.91935C8.4114 7.98183 8.33767 8.03143 8.25643 8.06528C8.17519 8.09912 8.08805 8.11655 8.00004 8.11655C7.91203 8.11655 7.8249 8.09912 7.74366 8.06528C7.66242 8.03143 7.58868 7.98183 7.52671 7.91935L3.60671 3.99935H12.3934ZM13.3334 11.3327C13.3334 11.5095 13.2631 11.6791 13.1381 11.8041C13.0131 11.9291 12.8435 11.9993 12.6667 11.9993H3.33337C3.15656 11.9993 2.98699 11.9291 2.86197 11.8041C2.73695 11.6791 2.66671 11.5095 2.66671 11.3327V4.93935L6.58671 8.85935C6.96171 9.23388 7.47004 9.44426 8.00004 9.44426C8.53004 9.44426 9.03837 9.23388 9.41337 8.85935L13.3334 4.93935V11.3327Z' fill='black'/%3E%3C/svg%3E ")
      center/cover no-repeat;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 80px;

  border-top: 1px solid #e0e0e0;

  @include sm {
    padding: 8px;
    flex-direction: column;
  }

  > span {
    color: var(--text-secondary);
    font-size: 18px;
  }

  &-socials {
    display: flex;

    > * {
      &:hover {
        > .icon {
          background: var(--primary);
        }
      }

      > .icon {
        background: var(--text-secondary);
      }

      &:not(:last-child) {
        margin-right: 24px;
      }
    }
  }
}
