/* FORMS */

form > :not(:first-child) {
    margin-top: 16px;
  }
  
  form > .form-row {
    display: flex;
  }
  
  form > .form-row > :not(:first-child) {
    margin-left: 6px;
  }
  
  /* INPUT */
  .input-group {
    position: relative;
    width: 100%;
    min-height: 48px;
  }
  
  .input-group > .input {
    width: 100%;
    min-width: 187px;
    min-height: 48px;
  
    border: 1px solid #f2890d;
    background-color: #222222;
    border-radius: 15px;
    box-sizing: border-box;
    padding-left: 28px;
    padding-right: 48px;
  
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  
    color: white;
  }
  
  .input-group > label {
    position: absolute;
  
    top: 14px;
    left: 28px;
  
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
  
    color: #f2890d;
  
    transition: top 0.2s ease, transform 0.2s ease, font-size 0.2s ease;
  
    pointer-events: none;
  
    white-space: nowrap;
  }
  
  .input-group > img {
    position: absolute;
  
    right: 20px;
    top: 10px;
  
    pointer-events: none;
  }
  
  .input-group > textarea.input {
    padding-top: 14px;
    border-radius: 15px;
    min-height: 144px;
  
    resize: none;
  }
  
  .input-group > input::-webkit-outer-spin-button,
  .input-group > input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  .input-group > input[type="number"] {
    -moz-appearance: textfield;
  }
  
  /* .input-group > select ~ img {
    transform: rotate(-90deg);
    transition: transform 0.2s;
  } */
  
  .input-group > input:not(:placeholder-shown) + label,
  .input-group > input:focus + label,
  .input-group > textarea:not(:placeholder-shown) + label,
  .input-group > textarea:focus + label,
  .input-group > select:focus + label,
  .input-group > select:not([value=""]):valid + label {
    top: 0;
    transform: translateY(30%);
  
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
  
    letter-spacing: 0.06em;
  
    color: #f2890d;
  }