/*
INDEX
  1 - HERO-HEADER
  2 - OUR PRODUCTS
    2.1 - PRODUCT
*/

/* INDEX 1 */
/* HERO HEADER */

:root {
  --carrossel-delay: 0.5s;
}

#hero-header {
  position: relative;
  margin-top: -117px;
  width: 100%;
  max-height: 900px;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;

  filter: drop-shadow(0px 40px 46px rgba(0, 0, 0, 0.25));
}

#hero-header .background {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;

  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translateY(-2%);
}

#hero-header .background img {
  width: 100%;
}

#hero-header .container {
  display: flex;
  padding: 0px 140px;
}

#hero-header .hero-header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

#hero-header .hero-header-content h1 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 109px;
  letter-spacing: 0.02em;
  max-width: 884px;
  text-transform: uppercase;
  color: #ffffff;
}

#hero-header .hero-header-content h5 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 49px;
  letter-spacing: 0.06em;

  color: #ffffff;
}

#hero-header .hero-header-content .button {
  margin-top: 32px;
  padding: 20px 40px;
}

#hero-header .socials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero-header .socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0px;
}

#hero-header .socials a#youtube {
  margin: 0px;
}

#hero-header .socials .big-line {
  flex: 1;
  border-left: 4px solid #f2890d;
}

#hero-header .socials .small-line {
  height: 10px;
  border-left: 4px solid #f2890d;
}

/* INDEX 2 */
/* OUR PRODUCTS */
#our-products {
  width: 100%;

  padding: 90px 0px;

  display: flex;
  align-items: center;
  flex-direction: column;

  overflow: hidden;
}

#our-products .container {
  padding: 0px 140px;
}

#our-products > a {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;

  padding: 17px 100px;
  margin-top: 42px;
}

/* INDEX 2.1 */
/* PRODUCT */
#our-products .products {
  position: relative;
  min-height: 515px;
}

#our-products .product {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  width: 880px;

  transform: translate(-50%, -50%);

  transition: transform var(--carrossel-delay) ease,
    left var(--carrossel-delay) ease, right var(--carrossel-delay) ease;
}

#our-products .product .product-image {
  position: relative;
  height: 475px;
  width: 440px;

  border-radius: 20px 0px 0px 20px;
  box-shadow: 0px 2px 46px 14px rgba(0, 0, 0, 0.25);
  overflow: hidden;

  transition: width var(--carrossel-delay) ease;
  transition-delay: var(--carrossel-delay);
}

#our-products .product .product-image > .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.21);
  width: 100%;
  height: 100%;
}

#our-products .product .product-info {
  width: 440px;
  height: 515px;

  background: #282828;
  box-shadow: 0px 2px 46px 14px rgba(0, 0, 0, 0.25);
  padding: 32px;
  box-sizing: border-box;
  overflow: hidden;

  transition: padding var(--carrossel-delay) ease,
    height var(--carrossel-delay) ease, width var(--carrossel-delay) ease;
}

#our-products .product .product-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

#our-products .product .product-info-wrapper > img {
  align-self: flex-end;
  margin-bottom: 32px;
}

#our-products .product .product-info-wrapper .text {
  flex: 1;
}

#our-products .product .product-info-wrapper h1 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.06em;

  color: #ffffff;

  transition: font-size var(--carrossel-delay) ease,
    line-height var(--carrossel-delay) ease, margin var(--carrossel-delay) ease;
}

#our-products .product .product-info-wrapper p {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.06em;

  color: #ffffff;

  margin-top: 14px;
  height: 200px;

  transition: height var(--carrossel-delay) ease;
}

#our-products .product .product-info-wrapper a.button {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0em;
  color: #ffffff;
  padding: 12px 28px;

  transition: height var(--carrossel-delay) ease,
    padding var(--carrossel-delay) ease;
}

/* CLOSED PRODUCT */
#our-products .product.closed.closed-right {
  transform: rotate(90deg);

  position: absolute;

  opacity: 1;

  right: -120px;
  left: auto;
}

#our-products .product.closed.closed-left {
  transform: rotate(90deg);
  position: absolute;

  opacity: 1;
  transform-origin: center center;
  left: -120px;
  right: auto;
}

#our-products .product.closed {
  height: 140px;
  width: 380px;

  opacity: 0;

  /* transition: none; */
}

#our-products .product.closed.hidden-left {
  left: -100%;
}
#our-products .product.closed.hidden-right {
  right: -100%;
}

#our-products .product.closed .product-image {
  width: 0px;
  box-shadow: none;

  transition: none;
  transition-delay: 0s;
}

#our-products .product.closed .product-info {
  padding: 16px;
  height: 140px;
  width: 380px;

  /* transition-delay: var(--carrossel-delay); */
}

#our-products .product.closed .product-info .text p {
  height: 0px;
  overflow: hidden;
  /* transition-delay: var(--carrossel-delay); */
}

#our-products .product.closed .product-info a.button {
  padding: 0px;
  height: 0px;
  overflow: hidden;
  transition: none;
  /* transition-delay: var(--carrossel-delay); */
}

#our-products .product.closed .product-info .text h1 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;

  letter-spacing: 0.06em;

  color: #ffffff;

  margin-top: 16px;

  /* transition-delay: var(--carrossel-delay); */
}

/* CARROSSEL */
#our-products .carrossel {
  margin-top: 90px;
  width: 100%;
}

#our-products .carrossel .products {
  width: 100%;

  display: flex;
  justify-content: center;
}

#our-products .carrossel .carrossel-slider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 42px;
}

#our-products .carrossel .carrossel-slider > img {
  cursor: pointer;
}

#our-products .carrossel .carrossel-slider .slide-counter {
  display: flex;
  justify-content: center;
  align-items: center;
}

#our-products .carrossel .carrossel-slider .slide-counter > :not(:first-child) {
  margin-left: 5px;
}

#our-products .carrossel .carrossel-slider .slide-counter .circle {
  content: url("/src/images/icons/circle/20_empty_circle.svg");
}

#our-products .carrossel .carrossel-slider .slide-counter .circle.full {
  content: url("/src/images/icons/circle/20_full_circle.svg");
}

/* ABOUT US */

#about-us {
  width: 100%;
  display: flex;
  justify-content: center;

  background: #292929;
  box-shadow: 0px 0px 46px 40px rgba(0, 0, 0, 0.25);
}

#about-us .container {
  padding: 45px 140px;
  position: relative;
}

#about-us .container > .background {
  position: absolute;
  bottom: 0;
  right: 140px;

  z-index: 1;
}

#about-us .container .section-title {
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
}

#about-us .container .about-us-content {
  position: relative;
  z-index: 2;
  width: 1021px;
}

#about-us .container .about-us-content p {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 166.4%;

  letter-spacing: 0.06em;

  color: #ffffff;
}

#about-us .container .about-us-content strong {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 166.4%;

  letter-spacing: 0.06em;

  color: #f2890d;
}

/* CONTACT US*/
#contact-us {
  width: 100%;
  min-height: 900px;

  display: flex;
  justify-content: center;
}

#contact-us .container {
  padding: 90px 140px;
  position: relative;
}

#contact-us .contact-us-content {
  margin-top: 45px;
}

#contact-us .contact-us-content .contact-us-group {
  margin-top: 28px;
}

#contact-us .contact-us-content .contact-us-group .group-title {
  display: flex;
  align-items: flex-end;
}

#contact-us .contact-us-content .contact-us-group .group-title h5 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.06em;

  color: #f2890d;

  margin-left: 10px;
}

#contact-us .contact-us-content .contact-us-group p {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.06em;

  color: #ffffff;
}

/* CONTACT US FORM */
#contact-us .contact-us-form {
  position: absolute;
  top: 90px;
  right: 140px;

  width: 543px;
  height: 682px;

  background: #292929;
  box-shadow: 0px 0px 46px 40px rgba(0, 0, 0, 0.25);
}

#contact-us .contact-us-form .form-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 66px;
}

#contact-us .contact-us-form .form-header h1 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.06em;

  color: #f2890d;

  border-bottom: 3px solid #f2890d;
}

#contact-us .contact-us-form .form-header h1 small {
  margin-left: 7px;
  font-size: 25px;
}

#contact-us .contact-us-form .form-header h5 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;

  text-align: center;
  letter-spacing: 0.06em;
  margin-top: 10px;
  color: #ffffff;
}

#contact-us .contact-us-form form {
  margin-top: 48px;
  padding: 0px 48px;
}

#contact-us .contact-us-form form .email-phone > :first-child {
  flex: 1 1 75%;
}

#contact-us .contact-us-form form .email-phone > * {
  flex: 1 1 25%;
}

#contact-us .contact-us-form form button.button[type="submit"] {
  width: 100%;
  padding: 16px 0px;

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;

  color: #ffffff;
}
